.advantages {
  text-align: center;
  background-color: #f2f2f2;
}

.advantages__intro-wrapper {
  padding-top: 45px;
  padding-bottom: 30px;

  background-color: #ffffff;
}

.advantages__intro {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #283645;

  background-color: #ffffff;
}

.advantages__list {
  margin: 0;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;

  list-style: none;
}

.advantages__title {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages__description {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
