.advantages {
  margin: 0 auto;

  text-align: center;
}

.advantages__intro-wrapper {
  position: relative;

  padding-top: 17px;
  padding-bottom: 18px;

  background-color: #ffffff;
}

.advantages__intro {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  color: #283645;

  background-color: #ffffff;
}

.advantages__intro:nth-child(2) {
  margin-top: 31px;
  margin-bottom: 0;
}

.advantages__list-wrapper {
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}

.advantages__list {
  padding-top: 51px;
  padding-left: 20px;
  padding-right: 20px;

  list-style: none;
}

.advantages__title {
  margin-top: 31px;
  margin-bottom: 12px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages__description {
  margin-top: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.advantages__images {
  position: relative;

  height: 304px;
}

.advantages__image-desktop {
  display: none;
}

.advantages__image {
  position: relative;
  bottom: -26px;
}

@media (min-width: 660px) {
  .advantages__intro {
    margin: 0;
    margin-top: 31px;

    font-size: 40px;
  }

  .advantages__intro:nth-child(2) {
    margin-top: 0;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 27px;
  }

  .advantages__list-wrapper {
    display: flex;
    justify-content: space-between;

    padding-bottom: 13px;
  }

  .advantages__list {
    width: 320px;
    margin-right: 0;
    padding-right: 11px;
    padding-top: 27px;

    text-align: left;

    order: 2;
  }

  .advantages__title {
    margin-top: 35px;
  }

  .advantages__image {
    position: relative;
    top: 6px;
    left: 21px;

    width: 268px;
    height: 481px;
  }
}

@media (min-width: 960px) {
  .advantages {
    margin-top: 3px;
  }

  .advantages__intro {
    margin: 0;
    margin-top: 50px;

    font-size: 50px;
  }

  .advantages__intro:nth-child(2) {
    width: 436px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .advantages__list-wrapper {
    flex-direction: column;

    margin-top: 60px;
    padding-bottom: 0;
  }

  .advantages__list {
    width: 882px;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
    padding-top: 4px;

    display: flex;
    justify-content: space-between;
  }

  .advantages__item {
    width: 241px;

    text-align: center;
  }

  .advantages__title {
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 30px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__images {
    width: 940px;
    margin-top: -2px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
  }

  .advantages__image {
    top: 0;
    left: 0;

    width: 292px;
    height: 302px;
  }

  .advantages__image-desktop {
    display: block;
  }
}
