.btn {
  display: block;
  width: 281px;
  min-height: 55px;
  padding-top: 15px;
  box-sizing: border-box;

  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;

  border: solid 3px;
  border-radius: 30px;
}

.btn--download {
  color: #ffffff;

  border-color: #ffffff;
}

.btn--posting,
.btn--cancel {
  padding-top: 0;
  background-color: transparent;

  cursor: pointer;
}

.btn--posting {
  color: #d22856;

  border-color: #d22856;
}

.btn--cancel {
  color: rgba(40, 54, 69, 0.1);

  border-color: rgba(40, 54, 69, 0.1);
}
