.chekbox-list {
  padding: 0;

  list-style: none;
}

.chekbox-list__item {
  margin-top: 52px;
}

.chekbox-list__label {
  padding-left: 68px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

@media (min-width: 960px) {
  .chekbox-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    height: 200px;
  }

  .chekbox-list__item {
    width: 33%;
  }
}
