.chekbox-list {
  padding: 0;

  list-style: none;
}

.chekbox-list__item {
  margin-top: 52px;
}

.chekbox-list__label {
  position: relative;

  padding-left: 68px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  cursor: pointer;
}

.chekbox-list__label::before {
  position: absolute;
  content: "";
  top: -7px;
  left: -1px;

  width: 37px;
  height: 37px;
  box-sizing: border-box;

  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.chekbox-list__input:checked + .chekbox-list__label::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 7px;
  z-index: 5;

  width: 20px;
  height: 10px;
  transform: rotate(-45deg);

  border-radius: 2px;
  border-left: 2px solid #d22856;
  border-bottom: 2px solid #d22856;
}

.chekbox-list__input:hover + .chekbox-list__label::before {
  border-color: #283645;
}

.chekbox-list__input:focus + .chekbox-list__label::before {
  border-color: #d22856;
}

@media (min-width: 660px) {
  .chekbox-list {
    padding-top: 20px;
  }

  .chekbox-list__item:first-child {
    margin-top: 37px;
  }

  .chekbox-list__label {
    padding-left: 61px;
  }
}

@media (min-width: 960px) {
  .chekbox-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    height: 200px;
    margin-top: -24px;
  }

  .chekbox-list__item {
    width: 33%;
    margin-right: 15px;
  }

  .chekbox-list__item:first-child {
    margin-top: 52px;
  }
}
