.competition-form__text-label {
  padding-left: 23px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
}

.competition-form__item {
  margin-top: 14px;
  margin-bottom: 16px;
}

.competition-form__text-input,
.competition-form__textarea {
  width: 280px;
  padding: 22px;
  margin-top: 5px;
  box-sizing: border-box;

  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.competition-form__text-input:hover,
.competition-form__textarea:hover {
  border-color: #283645;
}

.competition-form__text-input:focus,
.competition-form__textarea:focus {
  border-color: #d22856;
  outline: none;
}

.competition-form__textarea {
  margin-top: 10px;
  padding: 15px;
  height: 200px;

  resize: none;
}

.competition-form__text-input::placeholder,
.competition-form__textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.competition-form__block--achivement {
  margin-top: 38px;

  background-color: #f2f2f2;
}

.competition-form__checkbox-list {
  margin-top: -8px;
}

.competition-form__block--contacts {
  margin-top: 19px;
}

.competition-form__legend--contacts {
  display: none;
}

.competition-form__block--app {
  margin-top: -8px;

  background-color: #f2f2f2;
}

.competition-form__radio-list {
  margin-top: -8px;
}

.competition-form__block--emotions {
  margin-top: 20px;
}

.competition-form__text-label--emotions {
  display: block;
  text-align: center;
  padding-left: 0;
  padding-top: 13px;
}

.competition-form__fieldset {
  padding: 0;
  padding-bottom: 32px;

  border: none;
}

.competition-form__legend {
  padding-top: 40px;
  padding-left: 29px;
  padding-right: 29px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #d22856;

  background-color: #f2f2f2;
}

.competition-form__fieldset--contacts {
  background-color: transparent;
}

.competition-form__btn-wrapper {
  margin-top: 44px;
  margin-bottom: 34px;
}

.competition-form__submit-btn {
  width: 280px;
  min-height: 59px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;

  border: 2px solid #2aab6d;
  border-radius: 2px;
  background-color: #2aab6d;

  cursor: pointer;
}

.competition-form__submit-btn:hover,
.competition-form__submit-btn:focus {
  background-color: #1c9b5e;
}

.competition-form__submit-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.competition-form__submit-btn:disabled {
  background-color: #e5e5e5;
}

.competition-form__note {
  margin-top: 37px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
  text-align: center;
}

.competition-form__mark {
  color: #d22856;
}

.competition-form__mobile-hidden-note {
  display: none;
}

@media (min-width: 660px) {
  .competition-form {
    display: flex;
    flex-direction: column;
  }

  .competition-form__block {
    background-color: #ffffff;
  }

  .competition-form__block--personal {
    order: 0;
  }

  .competition-form__block--app {
    order: 1;

    margin-top: -4px;
  }

  .competition-form__radio-list {
    margin-top: -17px;
  }

  .competition-form__block--contacts {
    order: 2;

    margin-top: 12px;
  }

  .competition-form__legend--contacts {
    display: inline;
    background-color: transparent;
  }

  .competition-form__block--achivement {
    order: 3;

    margin-top: 12px;
  }

  .competition-form__checkbox-list {
    margin-bottom: 6px;
  }

  .competition-form__block--emotions {
    order: 4;
  }

  .competition-form__btn-wrapper {
    display: flex;
    justify-content: space-between;

    order: 5;

    margin-top: -2px;
    margin-bottom: 48px;
  }

  .competition-form__item {
    width: 100%;
    margin-top: 46px;

    display: flex;
    align-items: center;
  }

  .competition-form__item--contacts {
    flex-wrap: wrap;
    margin-top: 11px;
  }

  .competition-form__text-label {
    padding-left: 0;
    margin-top: 6px;
    margin-right: 18px;
  }

  .competition-form__text-label--contacts {
    order: 2;
    position: relative;

    width: 100%;
    padding-left: 20px;
    margin-bottom: 8px;
  }

  .competition-form__text-input {
    flex-grow: 1;
  }

  .competition-form__text-input--phone,
  .competition-form__text-input--email {
    width: 500px;
    padding-right: 58px;
    margin-bottom: 3px;
    flex-grow: 0;
  }

  .competition-form__text-label--phone::after,
  .competition-form__text-label--email::after {
    content: "";
    position: absolute;
    right: 39px;
    top: -71px;

    display: block;
    width: 60px;
    height: 60px;

    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-position: center;
  }

  .competition-form__text-label--phone::after {
    background-image: url("../img/icon-phone.svg");
    background-size: 20px 20px;
  }

  .competition-form__text-label--email::after {
    background-image: url("../img/icon-mail.svg");
    background-size: 18px 13px;
  }


  .competition-form__fieldset {
    position: relative;

    margin-top: 25px;
    padding-left: 55px;
    padding-bottom: 45px;

    background-color: transparent;
    border: 2px solid #e5e5e5;
  }

  .competition-form__fieldset--contacts {
    padding-bottom: 2px;
  }

  .competition-form__legend {
    position: relative;
    top: -20px;

    background-color: transparent;
    color: #d22856;
  }

  .competition-form__textarea {
    width: 100%;
    margin-top: -4px;
    height: 193px;
  }

  .competition-form__item--emotions {
    flex-direction: column;

    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0;
    padding-bottom: 50px;
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
  }

  .competition-form__text-label--emotions {
    position: relative;
    top: -35px;

    padding-left: 47px;
    padding-right: 30px;

    background-color: #ffffff;
  }

  .competition-form__submit-btn {
    width: 300px;
    min-height: 62px;
    margin-top: 55px;
  }

  .competition-form__note {
    margin-top: 73px;
  }
}

@media (min-width: 960px) {
  .competition-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .competition-form__block {
    box-sizing: border-box;
  }

  .competition-form__block--personal {
    width: 470px;
    margin-right: 0;
    padding-right: 35px;
    padding-left: 0;
    margin-top: -56px;
  }

  .competition-form__block--app {
    width: 470px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: -64px;
  }

  .competition-form__fieldset--app {
    margin-left: 35px;
    padding-left: 0;
  }

  .competition-form__fieldset--contacts {
    padding-left: 55px;
    padding-right: 55px;
    box-sizing: border-box;
  }

  .competition-form__contacts-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .competition-form__block--contacts {
    margin-top: -3px;
  }

  .competition-form__item--contacts {
    width: 410px;
    margin-top: 10px;
    box-sizing: border-box;
  }

  .competition-form__item--contacts:first-child {
    padding-right: 35px;
  }

  .competition-form__item--contacts:nth-child(2) {
    padding-left: 35px;
  }

  .competition-form__text-label--contacts {
    margin-bottom: -6px;
  }

  .competition-form__text-label--phone::after,
  .competition-form__text-label--email::after {
    right: -16px;
  }

  .competition-form__item--emotions {
    padding-bottom: 40px;
  }

  .competition-form__textarea {
    height: 130px;
    margin-top: -8px;
  }

  .competition-form__checkbox-list {
    margin-bottom: -21px;
  }

  .competition-form__btn-wrapper {
    margin-top: -5px;
    margin-bottom: 3px;
  }

  .competition-form__mobile-hidden-note {
    display: inline;
  }

  .competition-form__radio-list {
    padding-left: 71px;
  }
}
