.contacts {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  font-style: normal;
}

.contacts__intro {
  margin-top: 44px;
  margin-bottom: 36px;

  color: #283645;
}

.contacts__block {
  margin-top: 25px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  font-style: normal;
}

.contacts__item {
  margin-top: 3px;

  display: block;

  font-weight: 300;
  font-size: 24px;
  font-style: normal;
  text-decoration: none;
  color: #d22856;
}

.contacts__item--email:hover,
.contacts__item--email:focus {
  color: #283645;
  box-shadow: 0 2px 0 0 #283645;
}

.contacts__item--email:active {
  opacity: 0.3;
}

.contacts__wrapper {
  position: relative;

  padding-bottom: 40px;
}

.contacts__map img {
  width: 320px;

  object-fit: cover;
  object-position: 0 -443px;
}

@media (min-width: 660px) {
  .contacts__intro {
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    margin-bottom: 45px;

    font-size: 40px;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 560px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__block {
    margin-top: 0;
  }

  .contacts__block:nth-child(1) {
    padding-left: 17px;
  }

  .contacts__block:nth-child(3) {
    margin-top: 48px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__item {
    margin-top: 7px;
  }
}

@media (min-width: 960px) {
  .contacts__intro {
    margin-top: 66px;
    margin-bottom: 57px;

    font-size: 50px;
  }

  .contacts__wrapper {
    flex-wrap: nowrap;
    width: 880px;
  }

  .contacts__block:nth-child(2) {
    order: 2;
  }

  .contacts__block:nth-child(3) {
    margin-top: 0;
    padding-left: 17px;

    order: 1;
  }

  .contacts__item {
    margin-top: 26px;
  }
}
