.effect {
  display: none;
}

@media (min-width: 660px) {
  .effect {
    padding-bottom: 65px;

    display: block;
  }

  .effect__wrapper {
    padding-left: 310px;
    padding-right: 2px;
    box-sizing: border-box;
  }

  .effect__title {
    margin: 0;
    padding: 0;
    padding-top: 97px;
    padding-right: 120px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .effect__text {
    margin-top: 9px;
    margin-bottom: 10px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  .effect__desktop-br {
    display: none;
  }

  .effect__link {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
  }
}

@media (min-width: 960px) {
  .effect {
    padding-bottom: 113px;

    background-color: #f2f2f2;
  }

  .effect__wrapper {
    padding-left: 366px;
    box-sizing: border-box;
  }

  .effect__title {
    padding-right: 0;
    padding-top: 115px;

    line-height: 30px;
  }

  .effect__tablet-br {
    display: none;
  }

  .effect__desktop-br {
    display: initial;
  }

  .effect__text {
    padding-right: 45px;
    margin-top: 24px;
    margin-bottom: 31px;

    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
