.effect {
  display: none;
}

@media (min-width: 660px) {
  .effect {
    display: block;
  }

  .effect__wrapper {
    padding-left: 304px;

    box-sizing: border-box;
  }

  .effect__title {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    padding-right: 120px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .effect__text {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  .effect__link {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
  }
}

@media (min-width: 960px) {
  .effect__wrapper {
    padding-left: 370px;
    box-sizing: border-box;
  }

  .effect__title {
    padding-right: 0;

    line-height: 30px;
  }

  .effect__text {
    padding-right: 45px;

    font-size: 18px;
    line-height: 30px;
  }

  .effect__link {
    font-size: 18px;
    line-height: 30px;
  }
}
