@media (min-width: 960px) {
  .main-nav {
    width: 640px;

    display: flex;
    justify-content: space-between;
  }

  .main-nav__wrapper {
    width: 640px;

    display: flex;
    justify-content: space-between;
  }
}
