.page-main {
  margin: 0 auto;
}

.page-main__title {
  min-height: 237px;
  width: 320px;
  padding-top: 98px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  margin-top: -67px;
  box-sizing: border-box;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;

  background-color: #2a3a4a;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-main__intro,
.page-main__posting {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 21px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.page-main__intro {
  padding-top: 45px;
}

.page-main__posting {
  padding-top: 42px
}

.page-main__posting-intro {
  margin: 0;
  padding-bottom: 42px;
  padding-left: 30px;
  padding-right: 34px;
}

.page-main__intro-element {
  display: none;
}

.page-main__price {
  margin-top: 25px;
}

@media (min-width: 660px) {
  .page-main__title {
    width: 100%;
    min-height: 440px;
    padding-top: 180px;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: -111px;

    font-size: 50px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: -220px 0;
  }

  .page-main__intro-element {
    display: block;
  }

  .page-main__title--form {
    padding-left: 90px;
    padding-right: 90px;
  }

  .page-main__intro {
    padding-top: 92px;
    padding-bottom: 21px;
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box;

    font-size: 18px;
  }

  .page-main__intro br {
    display: none;
  }

  .page-main__intro--form {
    padding-left: 57px;
    padding-right: 40px;
  }

  .page-main__price {
    margin-top: 4px;
  }
}

@media (min-width: 960px) {
  .page-main__title {
    margin-top: -110px;
    padding-top: 175px;
    padding-left: 400px;
    padding-right: 400px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: -275px 0;
  }

  .page-main__title--form {
    padding-left: 300px;
    padding-right: 300px;
  }

  .page-main__intro {
    padding-top: 95px;
    padding-bottom: 90px;
    padding-left: 150px;
    padding-right: 150px;
  }
}
