.page-footer {
  padding-top: 20px;
  padding-bottom: 40px;

  text-align: center;
}

.page-footer--mobile-hidden {
  display: none;
}

.page-footer__logo-svg:hover path,
.page-footer__logo-svg:focus path {
  fill: #d22856;
}

.page-footer__logo-svg:active path {
  opacity: 0.3;
}

.page-footer__list {
  margin-top: 36px;
}

.page-footer__copyright {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__copyright-link {
  margin-left: 10px;
}

.page-footer__copyright-link-svg {
  width: 37px;
  height: 55px;
}

.page-footer__copyright-link-svg:hover path,
.page-footer__copyright-link-svg:focus path {
  fill: #283645;
}

.page-footer__copyright-link-svg:active path {
  opacity: 0.3;
}

@media (min-width: 660px) {
  .page-footer--mobile-hidden {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__copyright-link {
    display: flex;
    margin-left: 8px;
  }

  .page-footer__copyright {
    margin-right: -6px;
    margin-top: 26px;
  }

  .page-footer__copyright-link-svg {
    width: 40px;
    height: 59px;
  }

  .page-footer {
    position: relative;

    padding-top: 11px;

    background-color: #ffffff;
  }
}

@media (min-width: 960px) {
  .page-footer {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .page-footer__copyright {
    font-size: 18px;
  }
}
