.photo-list {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}

.photo-list__item {
  margin: 0;
  padding: 0;
}

.photo-list__comment {
  width: 280px;
  padding-top: 25px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 25px;
  margin-top: 0;
  box-sizing: border-box;

  text-align: left;

  background-color: #f2f2f2;
}

.photo-list__author-name {
  font-weight: 700;
  font-style: normal;
}

.photo-list__time {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
}

.photo-list__likes-count {
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #d22856;
}

@media (min-width: 660px) {
  .photo-list {
    width: 620px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .photo-list__item {
    width: 300px;
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .photo-list__comment {
    width: 300px;
    margin: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .photo-list__text {
    display: flex;
  }

  .photo-list__item--panorama {
    width: 620px;
    margin: 0 auto;
  }

  .photo-list__comment--panorama {
    width: 620px;
  }
}

@media (min-width: 960px) {
  .photo-list {
    width: 940px;
  }

  .photo-list__item {
    margin-top: 55px;
  }

  .photo-list__item--panorama {
    width: 940px;
  }

  .photo-list__comment--panorama {
    width: 940px;
  }
}
