.photo-list {
  padding-top: 28px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}

.photo-list__item {
  margin: 0;
  margin-top: 19px;
  padding: 0;
}

.photo-list__item--panorama {
  margin-top: 0;
  position: relative;
}

.photo-list__photo-image--panorama {
  width: 340px;
}

.photo-list__photo--panorama {
  width: 360px;
}

.photo-list__item--panorama::before {
  content: "Панорама дня";
  display: block;
  position: absolute;
  top: 0;
  right: 44px;

  width: 140px;
  height: 36px;
  padding-top: 5px;
  box-sizing: border-box;

  background-color: #d22856;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  z-index: 10;
}

.photo-list__comment {
  width: 280px;
  padding-top: 21px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 25px;
  margin-top: -10px;
  box-sizing: border-box;

  text-align: left;

  background-color: #f2f2f2;
}

.photo-list__author-name {
  font-weight: 700;
  font-style: normal;
}

.photo-list__time {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
}

.photo-list__text {
  margin-top: 0;
}

.photo-list__likes {
  display: flex;
  margin-top: 16px;
  margin-left: 2px;
}

.photo-list__likes-icon {
  width: 13px;
  height: 12px;

  background-color: transparent;
  border: none;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.photo-list__likes-count {
  margin: 0;
  padding-left: 17px;

  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #d22856;
}

@media (min-width: 660px) {
  .photo-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .photo-list__blockquotes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .photo-list__item {
    width: 300px;
    margin-top: 17px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .photo-list__photo-image {
    width: 300px;
    height: 300px;
  }

  .photo-list__comment {
    width: 300px;
    min-height: 158px;
    margin-top: -7px;
    padding-left: 28px;
    padding-top: 24px;
    padding-bottom: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .photo-list__author-wrapper {
    display: flex;
    align-items: center;
  }

  .photo-list__time {
    padding-left: 4px;
  }

  .photo-list__text {
    display: flex;
    margin-bottom: auto;
  }

  .photo-list__item--panorama {
    width: 620px;
    margin: 0 auto;
  }

  .photo-list__photo--panorama {
    width: 660px;
    height: 510px;
    margin-left: -20px;
    margin-top: 28px;
    overflow: hidden;
  }

  .photo-list__photo-image--panorama {
    width: 700px;
    height: 509px;
  }

  .photo-list__comment--panorama {
    width: 620px;
    min-height: 0;
    padding-top: 22px;
    padding-bottom: 11px;
    margin-top: 0;
    margin-bottom: 33px;
  }

  .photo-list__item--panorama::before {
    top: 85px;
    right: 0;
  }

  .photo-list__likes {
    margin-left: 0;
    margin-top: 18px;
    justify-content: space-between;
  }

  .photo-list__likes-count {
    order: -1;
    padding-left: 0;
  }

  .photo-list__likes-icon {
    padding-right: 37px;
  }

  .photo-list__likes--panorama {
    width: 120px;
    margin-top: 0;

    position: relative;
    top: -66px;
    right: -444px;
  }

  .photo-list__likes-icon--panorama {
    padding-right: 0;
  }
}

@media (min-width: 960px) {
  .photo-list {
    padding-top: 0;
  }

  .photo-list__item {
    margin-top: 51px;
  }

  .photo-list__photo-image {
    height: 400px;
  }

  .photo-list__item--panorama {
    width: 100%;
    margin: 0 auto;
  }

  .photo-list__comment--panorama {
    width: 940px;
    padding-top: 20px;
    margin-bottom: -2px;
  }

  .photo-list__photo--panorama {
    display: flex;
    justify-content: center;

    min-width: 960px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .photo-list__photo-image--panorama {
    width: 1200px;
    height: 506px;
  }

  .photo-list__likes--panorama {
    top: -42px;
    right: -761px;
  }

  .photo-list__item--panorama::before {
    top: 54px;
    right: 10px;
  }
}
