.reviews {
  position: relative;
  z-index: 15;

  padding-bottom: 5px;

  background-color: #ffffff;
}

.reviews__list {
  position: relative;

  padding-top: 42px;

  text-align: center;
}

.reviews__item {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

  text-align: center;
}

.reviews__author {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-style: normal;
  color: #000000;
}

.reviews__author-comment {
  display: none;
}

.reviews__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.reviews__toggles {
  margin-top: 32px;
}

@media (min-width: 660px) {
  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    margin-top: 17px;

    font-size: 20px;
  }

  .reviews__author-comment {
    margin-top: 2px;

    display: block;

    line-height: 30px;
  }

  .reviews__text {
    font-size: 18px;

    order: -1;
  }
}

@media (min-width: 960px) {
  .reviews {
    padding-top: 125px;
    padding-bottom: 0;

    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 70px;
  }

  .reviews__text {
    position: relative;

    width: 695px;
    margin-left: auto;
    margin-right: auto;

    font-size: 18px;
  }

  .reviews__text::before,
  .reviews__text::after {
    content: "";
    display: block;
    position: absolute;

    width: 22px;
    height: 41px;

    background-image: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;

    cursor: pointer;
  }

  .reviews__text::before {
    top: 28px;
    left: -123px;
  }

  .reviews__text::after {
    transform: rotate(180deg);
    top: 28px;
    right: -123px;
  }

  .reviews__author {
    font-size: 24px;
  }

  .reviews__author-comment {
    font-size: 18px;
  }

  .reviews__toggles {
    margin-bottom: 0;
  }
}
